# Install this service file to /etc/systemd/system/tcp2udp.service
# Install the tcp2udp binary to /usr/local/bin or change the path below
#
# On some distros, if you copy the binary in to the computer via scp or similar,
# you might need to run the following to reset some safety triggers triggered by SELinux:
#  $ sudo restorecon -rv /usr/local/bin

[Unit]
Description=A TCP to UDP tunneling daemon
Documentation=https://github.com/mullvad/udp-over-tcp
Wants=network-online.target
After=network-online.target

[Service]
# Raise the soft limit on number of open file handles.
# This needs to be at least two times the number of
# wanted simultaneous client connections.
LimitNOFILE=16384

# Uncomment this to have the logs not contain the IPs of the peers using this service
#Environment=REDACT_LOGS=1
Environment=RUST_LOG=debug
ExecStart=/usr/local/bin/tcp2udp --threads=2 --tcp-listen 0.0.0.0:443 --udp-bind=127.0.0.1 --udp-forward 127.0.0.1:51820 --tcp-recv-timeout=130 --nodelay

Restart=always
RestartSec=2

[Install]
WantedBy=default.target
